<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="icon" href="https://i.ibb.co/VVn1znN/New-Bitmap-Image.png">
</head>

<body>
    <p id="temp">
        <%= logs %>
    </p>
    <script>
        var temp = document.getElementById('temp').innerHTML;
        console.log(temp)
        var p = document.createElement('p');
        p.innerText = temp
        // console.log(temp.replace('+#$', "\n"))
        document.body.appendChild(p);
        document.getElementById('temp').parentElement.removeChild(document.getElementById('temp'))
    </script>
</body>

</html>