<!DOCTYPE html>
<html style="max-height: 1000vh;">
<title>P P S S H O P · ADMIN</title>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport"
        content="width=device-width, initial-scale=1,user-scalable=no,"> -->
    <!-- <link rel="icon" href="/logo"> -->
    <!-- <link rel="Bookmark" href="/logo"> -->
    <meta name="google" value="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="../bootstrap.min.css"> -->
    <link rel="icon" href="/logo">
    <link rel="Bookmark" href="/logo">
    <!-- <link rel="stylesheet" href="../bootstrap.min.css.map"> -->
    <script src="Admin.js" crossorigin="anonymous"></script>

    <script src="/views/style/css.js"></script>

</head>

<body style="font-family: 'Montserrat', sans-serif;max-height: 1000vh;">
    <div class="container" style="max-height: 1000vh; width: 100%;">
        <div class="row" style="width:100%;">
            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break: strict;" ChangeLanguage>Developer</h1>
                </div>
                <div class="back">
                    <div>
                        <button type="button" class="btn btn-info" style="height: 10%;margin: 5px;"
                            onclick="RequestUser()" ChangeLanguage>Download Raw User DB</button>
                        <button type="button" class="btn btn-info" style="height: 10%;margin: 5px"
                            onclick="RequestStock()" ChangeLanguage>Download Raw Stock DB</button>
                        <button type="button" class="btn btn-info" style="height: 10%;margin: 5px"
                            onclick="ClearStockChanges()" ChangeLanguage>Clear Stock Changes</button>
                        <button type="button" class="btn btn-info" style="height: 10%;margin: 5px"
                            onclick="ClearTransactions()" ChangeLanguage>Clear Transactions</button>
                    </div>
                </div>
            </div>

            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break:strict;position:relative" ChangeLanguage>
                        Stock</h1>
                </div>
                <div class="back">
                    <div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="Mode" onchange="update()" checked>
                                <p id="FormChecked" ChangeLanguage>Mode: Add</p>
                            </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="quantity" class="input-group-text" ChangeLanguage>Quantity</label>
                                </div>
                                <input id="quantity" class="form-control" min="1" style="float: right; width: 40%;"
                                    onchange="//update()" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" ChangeLanguage>Type</label>
                            <select class="form-control" id="type" onchange="updateElements()">
                            </select>
                            <div class="row">
                                <div class="col-md" style="width: 48%;">
                                    <label for="Size" ChangeLanguage>Size</label>
                                    <select class="form-control" id="Size" onchange="//update()">
                                    </select>
                                </div>
                                <div class="col-md" style="width: 30%; float: right; display:inline;">
                                    <label for="Gender" ChangeLanguage>Gender</label>
                                    <select class="form-control" id="Gender" onchange="//update()">
                                        <option ChangeLanguage>Male</option>
                                        <option ChangeLanguage>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md" style="width: 48%;">
                                <label for="URL" ChangeLanguage>Image Url</label>
                                <div class="input-group">
                                    <input style="width: 50%;" onchange="findImage(this)"
                                        onerror="this.value = 'Failed';" type="url" class="form-control"
                                        placeholder="Enter new url to change or leave blank" id="URL">
                                    <input style="width: 50%;" onchange="findImage(this)"
                                        onerror="this.value = 'Failed';" type="url" class="form-control"
                                        placeholder="Enter new url to change or leave blank" id="URL2">
                                </div>
                            </div>
                            <div class="col-md" style="width: 48%;">
                                <label for="UpdatePrice" ChangeLanguage>Update Price</label>
                                <input style="width: 100%;" type="number" class="form-control"
                                    placeholder="Enter new Price to change or leave blank" id="UpdatePrice">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <img src="" id="imgBox"
                                    style="display: inline; height: 100px; width: 100px; object-fit: cover;"
                                    alt="No image">
                            </div>
                            <div class="col-sm" style="margin-bottom: 1rem;">
                                <p style="display: inline;float: right;font-size: large;margin: 0;" ChangeLanguage>
                                    Quantity in stock:
                                </p>
                                <a href="#" class="updater" style="cursor:pointer;color: black; "
                                    onclick="QuantityCheck(this,document.getElementById('type').value,document.getElementById('Gender').value,document.getElementById('Size').value);"
                                    ChangeLanguage>Click to update</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md" style="width: 48%;">
                                <label for="UpdateContent1" ChangeLanguage>Content1</label>
                                <input type="text" name="UpdateContent1" id="UpdateContent1" class="form-control">
                            </div>
                            <div class="col-md" style="width: 30%; float: right; display:inline;">
                                <label for="UpdateContent2" ChangeLanguage>Content2</label>
                                <input type="text" name="UpdateContent2" id="UpdateContent2" class="form-control">
                            </div>
                        </div>
                        <button style="margin-top:10px;" type="button" id="ButtonAdd" onclick="stock();"
                            class="btn btn-primary" ChangeLanguage>Insert</button>

                        <p class="p1" id="CompleteText"></p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break:strict;position:relative" ChangeLanguage>
                        Users</h1>
                </div>
                <div class="back">
                    <div>
                        <a style="margin: 5px;" class="btn btn-outline-primary" href="/home" role="button"
                            ChangeLanguage>Return to Client Page</a>
                        <a style="margin: 5px;" class="btn btn-outline-primary" href="/admin/orders" role="button"
                            ChangeLanguage>Pending Orders</a>
                        <button type="button" class="btn btn-danger" style="margin: 10px;" data-toggle="modal"
                            data-target="#ConfirmDelete" onclick="UpdateDeleteAccountModal()" ChangeLanguage>Delete
                            Account</button>
                        <button type="button" class="btn btn-danger" style="margin: 10px;" data-toggle="modal" onclick="
                        fetch('/User/SignOut', {method: 'POST',headers: { 'Content-Type': 'application/json' }}); 
                            setTimeout(() => {
                                window.location.href = '/' 
                                }, 1000); " ChangeLanguage>Sign
                            Out
                        </button>

                        <hr style="margin: 1px;margin-bottom: 40px;margin-top: 40px;">

                        <input id="AdminU" class="form-control" style="width: 100%; height: 35px; font-size: medium;"
                            type="text" placeholder="Admin New Username" name="username">
                        <input class="form-control" id="AdminP" style=" width: 100%; font-size:medium; height: 35px"
                            type="password" placeholder="Admin New Password" name="Password">
                        <div style="text-align: left;">
                            <button type="button" onclick="CreateNewAdmin()" class="btn btn-success"
                                style="margin: 0px; width: 100%; height: 35px;" ChangeLanguage>Create New Admin</button>
                        </div>
                    </div>
                    <!-- usersList -->
                </div>
            </div>
        </div>
    </div>
    <!-- start -->
    <div class="container">
        <div class="row" style="width:100%;">
            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break:strict;position:relative" ChangeLanguage>
                        Create<br>/<br>Delete<br>Products</h1>
                </div>
                <div class="back">
                    <div class="form-group">
                        <label for="NewName" ChangeLanguage>Name</label>
                        <input type="text" name="NewName" id="NewName" class="form-control" onchange="">
                        <div class="row">
                            <div class="col-md" style="width: 48%;">
                                <label for="NewFilter" ChangeLanguage>Filter</label>
                                <select name="NewFilter" id="NewFilter" class="form-control"
                                    onchange="if(this.value == 'Numbers'){ document.getElementById('NewMaxSize').disabled = false;document.getElementById('NewMinSize').disabled = false; }else{document.getElementById('NewMaxSize').disabled = true;document.getElementById('NewMinSize').disabled = true; }">
                                    <option ChangeLanguage value="None">None</option>
                                    <option ChangeLanguage value="Numbers">Numbers</option>
                                    <option ChangeLanguage value="SML">SML</option>
                                </select>
                            </div>
                            <div class="col-md" style="width: 48%;">
                                <label for="NewGender" ChangeLanguage>Gender</label>
                                <select name="NewGender" id="NewGender" class="form-control">
                                    <option ChangeLanguage value="Others">Others</option>
                                    <option ChangeLanguage value="Male">Male</option>
                                    <option ChangeLanguage value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md" style="width: 48%;">
                                <label for="NewPrice" ChangeLanguage>Price</label>
                                <input type="number" min="1" name="NewPrice" id="NewPrice" class="form-control"
                                    onchange="" value="10">
                            </div>
                            <div class="col-md" style="width: 30%; float: right; display:inline;">

                                <label for="NewPicture" ChangeLanguage>Picture</label>
                                <div class="input-group">
                                    <input type="url" name="NewPicture" id="NewPicture" class="form-control"
                                        onchange="">
                                    <input type="url" name="NewPicture2" id="NewPicture2" class="form-control"
                                        onchange="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md" style="width: 48%;">
                                <label for="NewMaxSize" ChangeLanguage>Max Size</label>
                                <input type="number" min="0" disabled name="NewMaxSize" id="NewMaxSize"
                                    class="form-control" onchange="" value="0">
                            </div>
                            <div class="col-md" style="width: 30%; float: right; display:inline;">
                                <label for="NewMinSize" ChangeLanguage>Min Size</label>
                                <input type="number" disabled min="0" name="NewMinSize" id="NewMinSize"
                                    class="form-control" onchange="" value="0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md" style="width: 48%;">
                                <label for="Content1" ChangeLanguage>Content1</label>
                                <input type="text" name="Content1" id="Content1" class="form-control">
                            </div>
                            <div class="col-md" style="width: 30%; float: right; display:inline;">
                                <label for="Content2" ChangeLanguage>Content2</label>
                                <input type="text" name="Content2" id="Content2" class="form-control">
                            </div>
                        </div>
                        <button class="btn btn-primary" style="margin-top: 10px;" onclick="create()" role="button"
                            ChangeLanguage>Create</button>
                        <p id="CreateMessage"></p>
                        <hr style="margin-top: 20px; margin-bottom: 20px;">
                        <label for="DelName" ChangeLanguage>Delete Name</label>
                        <select type="text" name="DelName" id="DelName" class="form-control" onchange="">
                            <option>test</option>
                        </select>
                        <button class="btn btn-primary" style="margin-top: 10px;" onclick="Delete()" role="button"
                            ChangeLanguage>Delete</button>
                        <p id="DeleteMessage"></p>
                        <hr style="margin: 1px;">
                    </div>
                </div>
            </div>
            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break:strict;position:relative" ChangeLanguage>
                        Force<br>Transations<br>Orders</h1>
                </div>
                <div class="back">
                    <div>
                        <form style="margin: 10px;" action="/transactoin/removeAt" method="post">
                            <input type="text" placeholder="Transaction ID" name="TransactionID" class="form-control"
                                id="TransactionID">
                            <button type="button" onclick="RemoveTransactionByID()" class="btn btn-primary"
                                ChangeLanguage>
                                Remove Order by ID</button>

                            <hr style="margin: 1px;margin-bottom: 40px;margin-top: 40px;">

                            <button onclick="GetUsers()" class="btn btn-primary" data-toggle="modal"
                                style="margin: 5px;" data-target="#UserListModal" type="button" ChangeLanguage>
                                Force Transaction</button>

                        </form>
                    </div>
                </div>
            </div>

            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break:strict;position:relative" ChangeLanguage>
                        Databases Downloads</h1>
                </div>
                <div class="back">
                    <div>
                        <a style="margin: 5px;" class="btn btn-primary" href="/admin/report/transaction" role="button"
                            ChangeLanguage>Download
                            Transaction Report</a>
                        <a style="margin: 5px;" class="btn btn-primary" href="/admin/report/stockchanges" role="button"
                            ChangeLanguage>Download
                            Stock-Changes Report</a>
                        <a style="margin: 5px;" class="btn btn-primary" href="/admin/report/user" role="button"
                            ChangeLanguage>Download
                            Users Report</a>
                        <a style="margin: 5px;" class="btn btn-primary" href="/admin/report/stock" role="button"
                            ChangeLanguage>Download
                            Stock Report</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row" style="height: 100vh; width: 100%;">
            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break:strict;position:relative" ChangeLanguage>
                        Contact the Dev</h1>
                </div>
                <div class="back">
                    <ul class="social-icons">
                        <li><a href="https://www.instagram.com/panyaprateep_school/"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li><a href="https://twitter.com/invent601"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/ken-l-2957aa204/"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://codepen.io/krisken4699"><i class="fab fa-codepen"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="flip-card col-sm" style="height: 100vh;">
                <div class="front" style="padding:50px;">
                    <h1 class="display-4" style="font-weight: 100;line-break:strict;position:relative" ChangeLanguage>
                        Images</h1>
                </div>
                <div class="back">
                    <style>
                        input.file-input {
                            outline: white;
                            background-color: transparent;
                            border-radius: 0;
                            border-color: white;
                        }
                    </style>
                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#previewImg').attr('src', e.target.result);
                                }
                                reader.readAsDataURL(input.files[0]); // convert to base64 string\
                                var back = "";
                            }
                        }
                        // window.history.replaceState('page2', 'Facebook', '/facebook.com');
                    </script>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group container" style="position:relative;width:100%;">
                                <label for="ImageUpload">Upload File</label>
                                <input accept="image/*" style="margin: 10px;" type="file" onchange="FileName = '\\share'+ this.value.substring('C:\\fakepath'.length, this.value.length);
                                    readURL(this);" class="file-input form-control-file" name="" id="ImageUpload"
                                    placeholder="" multiple>
                                <img src="" id="previewImg" alt="" style="object-fit:scale-down; width: 100%;">
                                <button style="margin: 6px;" onclick="UploadFile();" type="button"
                                    class="btn btn-outline-primary">Upload</button>
                            </div>
                        </div>
                        <div class="col-lg-12" style="position:relative;margin-top:10px;display: block;width:100%;">
                            <a type="button" class="btn btn-outline-primary" href="/admin/images">View all Pictures</a>
                        </div>
                    </div>
                    <!-- <input type="file" class="custom-file" style="text-decoration: none;" id=""> -->
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>
    <!-- end -->
    <div class="modal fade bd-example-modal-xl" id="UserListModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl " role="document">
            <div class="modal-content Neumorphic-Background">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align:center; 
                        border-radius: 10px;
            background: #e0e0e0;
            box-shadow:  7px 7px 14px #bebebe,
            -7px -7px 14px #ffffff;" id="exampleModalLongTitle" ChangeLanguage>Force Transaction</h5>
                    <div class="container-fluid glowBlueHover"
                        style="width: 100%; justify-content: center; align-items: center; display: flex;">
                        <button type="button" onclick="OpenSelectedTransactions()"
                            class="glowBlueHover btn btn-outline-secondary"
                            style="background: #e0e0e0; box-shadow:  7px 7px 14px #bebebe, -7px -7px 14px #ffffff;"
                            ChangeLanguage>
                            Force Transaction</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin: 10px;padding-bottom: 40px;">
                    <div class="row">
                        <style>
                            .glowBlueHover:hover {
                                color: #00fff1;
                            }

                            .InputNeumorphic {
                                border-radius: 9px;
                                background: #e0e0e0;
                                box-shadow: inset 3px 3px 7px #cecece, inset -3px -3px 7px #f2f2f2;
                            }

                            .InputNeumorphic:focus {
                                border-radius: 9px;
                                background: #e0e0e0;
                                box-shadow: inset 3px 3px 7px #cecece, inset -3px -3px 7px #f2f2f2;
                                border-color: #f2f2f2;
                                border-width: 3px;
                                border-radius: 9px;
                                border-style: solid;
                            }
                        </style>
                        <div class="col-md-3">
                            <label for="ForceProduct" ChangeLanguage>Product</label>
                            <div class="input-group">
                                <div class="form-group">
                                    <select class="form-control InputNeumorphic" onchange="
                                    setTimeout(() => {
                                        if(document.getElementById('ForceProduct').value != 'Custom')
                                        {
                                            QuantityCheck(
                                            document.getElementById('ForceQuantityLeft'),
                                            document.getElementById('ForceProduct').value,
                                            document.getElementById('ForceGender').value,
                                            document.getElementById('ForceSize').value);
                                        }
                                    }, 100);
                                    if(this.value == 'Custom')
                                    {
                                        document.getElementById('ForceName').disabled = false;
                                        document.getElementById('ForcePrice').disabled = false;
                                        document.getElementById('ForceQuantity').disabled = true;
                                        document.getElementById('ForceGender').disabled = true;
                                        document.getElementById('ForceSize').disabled = true;
                                    }
                                    else
                                    {
                                        document.getElementById('ForceName').disabled = true;
                                        document.getElementById('ForcePrice').disabled = true;
                                        document.getElementById('ForceQuantity').disabled = false;
                                        document.getElementById('ForceGender').disabled = false;
                                        document.getElementById('ForceSize').disabled = false;
                                        UpdateForceModal(this);
                                    }" name="ForceProduct" id="ForceProduct">
                                    </select>
                                    <label for="ForceGender" ChangeLanguage ChangeLanguage>Gender</label>
                                    <select onchange="
                                   setTimeout(() => {
                                        if(document.getElementById('ForceProduct').value != 'Custom')
                                        {
                                            QuantityCheck(
                                            document.getElementById('ForceQuantityLeft'),
                                            document.getElementById('ForceProduct').value,
                                            document.getElementById('ForceGender').value,
                                            document.getElementById('ForceSize').value);
                                        }
                                    }, 100);" disabled class="form-control InputNeumorphic" name="ForceGender"
                                        id="ForceGender"></select>
                                    <label for="ForceSize" ChangeLanguage ChangeLanguage>Size</label>
                                    <select onchange="
                                    setTimeout(() => {
                                        if(document.getElementById('ForceProduct').value != 'Custom')
                                        {
                                            QuantityCheck(
                                            document.getElementById('ForceQuantityLeft'),
                                            document.getElementById('ForceProduct').value,
                                            document.getElementById('ForceGender').value,
                                            document.getElementById('ForceSize').value);
                                        }
                                    }, 100);
                                        " disabled class="form-control InputNeumorphic" name="ForceSize"
                                        id="ForceSize"></select>
                                </div>
                            </div>
                            <p id="ForceQuantityLeft"></p>
                        </div>
                        <div class="col-md-3">
                            <label for="ForceQuantity" ChangeLanguage>Quantity</label>
                            <input type="number" disabled
                                onchange="if(this.value > 0 && !this.value.includes('.')){}else{this.value = 0;}"
                                class="InputNeumorphic form-control" id="ForceQuantity">
                        </div>
                        <div class="col-md-3">
                            <label for="ForceName" ChangeLanguage ChangeLanguage>Name</label>
                            <input type="text" class="InputNeumorphic form-control" id="ForceName">
                        </div>
                        <div class="col-md-3">
                            <label for="ForcePrice" ChangeLanguage>Price</label>
                            <input value="0" type="number"
                                onchange="if(this.value > 0 && !this.value.includes('.')){}else{this.value = 0;}"
                                class="form-control InputNeumorphic" id="ForcePrice">
                        </div>
                    </div>
                    <hr style="margin: 60px;">
                    <style>
                        .myCheck:checked~.fa {
                            width: 50px;
                            color: #00fff1;
                        }

                        div .disabled {
                            pointer-events: none;
                            /* opacity: 0.4; */
                            display: none;
                        }
                    </style>

                    <div style="margin-bottom:20px;">
                        <label for="ForceUser" class="" ChangeLanguage>Users</label>
                        <select class="InputNeumorphic" style="padding: 10px; font-size: 2em;" id="ForceUser"
                            onchange="changeTarget(this)" class="form-control">
                            <option value="">test</option>
                        </select>
                        <input type="number" min="0000" value="0000" class="InputNeumorphic"
                            style="width: 15%; padding: 10px;" oninput="
                            var my_string = '' + this.value;
                                while (my_string.length < 4) {
                                    my_string = '0' + my_string;
                                }
                                this.value = my_string;
                                if(this.value.toString().length > 4){
                                    this.value = this.value.toString().substring(1,5);
                                }
                                var exist = false;
                                AllUsersJson.forEach(user => {
                                    if(user.ID == this.value){
                                        // console.log(AllUsersJson)
                                        // console.log(user)
                                        // console.log(userSort)
                                        for(i = 0;i<userSort.length; i++){
                                            if(userSort[i].ID == user.ID){                                                
                                                document.getElementById('ForceUser').selectedIndex = i + 1;
                                                // console.log(userSort[i].Name)
                                                exist = true;
                                                document.getElementById('BadgeUsername').innerText = userSort[i].Name;
                                                changeTarget(document.getElementById('ForceUser'));
                                            }
                                        }    
                                    }
                                });
                                if(!exist)
                                    document.getElementById('BadgeUsername').innerText = `User doesn't exist!`;
                                ">
                        <span class="badge badge-secondary" id="BadgeUsername">Mass</span>
                    </div>
                    <div class="row" id="Mass">
                        <div class="col-sm">
                            <label
                                style="margin-bottom:20px;padding: 10px; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck">Select</label>
                            <ul style="padding: 10px; width:50%; background: linear-gradient(145deg, #f0f0f0, #cacaca); box-shadow:  8px 8px 15px #c3c3c3, -8px -8px 15px #fdfdfd;border-radius: 18px;"
                                class="list-group" id="ListGroupCheck">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <label
                                style="margin-bottom:20px;padding: 10px; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" for="ListGroupName">Users</label>
                            <ul style="margin-bottom:20px;padding: 10px; width:100%; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" class="list-group" id="ListGroupName">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <label
                                style="margin-bottom:20px;padding: 10px; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" for="ListGroupID">ID</label>
                            <ul style="margin-bottom:20px;padding: 10px; width:100%; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" class="list-group" id="ListGroupID">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <label
                                style="margin-bottom:20px;padding: 10px; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" for="ListGroupGender">Gender</label>
                            <ul style="margin-bottom:20px;padding: 10px; width:100%; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" class="list-group" id="ListGroupGender">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <!-- <div class="col-sm">
                            <label
                                style="margin-bottom:20px;padding: 10px; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" for="ListGroupTime">Time</label>
                            <ul style="margin-bottom:20px;padding: 10px; width:100%; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" class="list-group" id="ListGroupTime">
                                <li class="list-group-item"></li>
                            </ul>
                        </div> -->
                        <div for="ListGroupCheck" class="col-sm">
                            <label
                                style="margin-bottom:20px;padding: 10px; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupBalance">Balance</label>
                            <ul style="margin-bottom:20px;padding: 10px; width:100%; background: linear-gradient(145deg, #cacaca, #f0f0f0);box-shadow: 8px 8px 16px #afafaf,-8px -8px 16px #ffffff;border-radius: 18px;"
                                for="ListGroupCheck" class="list-group" id="ListGroupBalance">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none; z-index: 1400;" class="loading" id="loading">
        <div style="z-index: 1400;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p style="transform: translateY(44vh);">If this takes too long, please refresh the page.</p>
    </div>
    <div class="modal fade bd-example-modal-sm" id="ConfirmDelete" role="dialog" aria-labelledby="ConfirmDelete"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ConfirmDelete">Confirm Delete Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="justify-content: center;">
                    <ul id="UserDeleteRow">
                    </ul>

                    <div class="input-group mb-3">
                        <label class="form-control" for="EmailDelete">Username</label>
                        <input class="form-control" type="email" id="EmailDelete">
                    </div>
                    <div class="input-group mb-3">
                        <label class="form-control" for="PasswordDelete">Password</label>
                        <input class="form-control" type="password" id="PasswordDelete">
                    </div>
                    <div class="input-group mb-3" style="width: 100%;">
                        <div class="progress" style="width: 100%;">
                            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button type="button" class="btn btn-danger" onclick="DeleteAccount()">Delete
                            Account</button>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>