<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta charset="utf-8">
    <script src="/views/style/css.js"></script>
    <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no, shrink-to-fit=no">
    <title>P P S H O P · Home</title>
    <link rel="icon" href="/logo">
    <link rel="Bookmark" href="/logo">
    <meta name="google" value="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="overflow: hidden; display: flex; flex-flow: column; height: 100%;">
    <div class="navbar navbar-dark bg-dark shadow-sm sticky-top">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand d-flex align-items-center">

                <img style="height: auto; width: auto; max-height: 50px;" src="/logo"
                    alt="https://i.ibb.co/n69M01V/logo.png">
                <strong style="color: white;" ChangeLanguage>Home</strong>
            </a>
            <h1 id="username"
                style="margin: 0;padding: 0; text-align: right; font-family: 'Noto Sans JP', sans-serif; color: whitesmoke;">
                <%= name %>
            </h1>
            <div style="display: flex; justify-content: center; align-items: center;">
                <strong style=" color: whitesmoke; margin-right: 10px; font-size: x-large; text-align: center;"
                    ChangeLanguage>Balance:</strong>
                <strong style="color: #E4701E; margin-right: 10px; font-size: x-large; text-align: center;"
                    id="Balance"></strong>
                <a href="#" onclick="OpenSelectedTransactions()" style="margin: 10px;"> <i data-toggle="modal"
                        id="Basket" data-target="#BasketModal"
                        style="box-shadow: outset 0 0 12px #0f0, inset 0 0 12px #0f0;"
                        class="fa fa-shopping-basket fa-2x"></i><span id="badge" class="badge badge-pill badge-danger"
                        style="top: 50%;transform: translate(-10px, -60%);display: none;">0</span></a>
                <style>
                    i::before {
                        background: transparent;
                    }

                    a::before {
                        background: transparent;
                    }
                </style>
                <div class="dropdown" style="margin: 10px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/login" ChangeLanguage>Switch Users</a>
                        <a class="dropdown-item" href="/register" ChangeLanguage>Create a new Account</a>
                        <hr style="margin-top: 5px;margin-bottom: 5px;">
                        <a class="dropdown-item" href="/Contact" ChangeLanguage>Contact</a>
                        <a class="dropdown-item" href="/problems" ChangeLanguage>Developers' Tip</a>
                        <hr style="margin: 5px;">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ConsoleModal" onclick="showConsole()"
                            href="#" ChangeLanguage>Show Console</a>
                        <hr style="margin: 5px;">
                        <a class="dropdown-item" data-toggle="modal" data-target="#SettingsModal"
                            onclick="showSettings()" href="#" ChangeLanguage>Account Settings</a>
                        <hr style="margin-top: 5px;">
                        <a class="dropdown-item" onclick="SignOut()" href="#" ChangeLanguage>Log Out</a>


                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="display-1" style="text-align: center;margin-bottom: 50px; margin-top: 50px;">Welcome Back!</h1>
    <div style="text-align: right; padding-right: 0%;" class="container">
        <div style="border-radius: 50px;
        width:fit-content; 
        float: right;
        padding: 10px;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  5px 5px 10px #d9d9d9,
        -5px -5px 10px #ffffff;">
            <label style="vertical-align: middle;" ChangeLanguage>Design</label>
            <label class="switch" for="DesignToggle">
                <input onchange="load()" id="DesignToggle" name="DesignToggle" type="checkbox"
                    style="outline: none; border: none;">
                <span class="slider round"></span>
            </label>
            <label style="vertical-align: middle; margin-left: 30px;" ChangeLanguage>Strict Gender</label>
            <label class="switch" for="GenderToggle">
                <input onchange="load()" id="GenderToggle" name="GenderToggle" type="checkbox"
                    style="outline: none; border: none;">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <style>
        .switch {
            vertical-align: middle;
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <div class="container-fluid" style="display: flex; justify-content: center; width: 95vw;">
        <!-- <div class="container" style="height: 100%; width: 100vw;margin: 0px;"> -->
        <div class="row" id="MainCardDiv"
            style="transform-style: preserve-3d; perspective: 1500px; padding: 0px;margin: 0px; width: 100%;"></div>
        <!-- </div> -->
    </div>
    </div>


</body>


</html>
<!DOCTYPE html>
<html lang="en" id="html2">

<head>
    <!-- <script src="/views/style/css.js"></script> -->
</head>

<body style="overflow: hidden;">
    <!--    1 Console -->
    <div class="modal fade" id="ConsoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Console</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <textarea class="ConsoleText modal-body"
                    style="margin: 0px 10px 10px 0px; display:block; height: 50vh; width: 100%;"
                    id="ConsoleText">This is the message</textarea>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="copy()" id="copyButton" class="btn btn-primary">Copy to
                        clipboard</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal1 Console -->
    <!--    1 Cart -->
    <div class="modal fade bd-example-modal-lg" id="BasketModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" ChangeLanguage>In the <i id="cartAnimation"
                            class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h1 style="margin: 10px;" id="BlankMessage" class="display-4" ChangeLanguage>Nothing to show here. Buy
                    something!</h1>

                <div class="modal-body" id="modalBody">
                    <h1 style="display: flex; justify-content: center; margin: 20px;" class="display-4" ChangeLanguage>
                        Your Basket</h1>
                    <div style="padding:10px;" class="row">
                        <div class="col-xs">
                            <label for="ProductLabel" ChangeLanguage>Product</label>
                            <ul class="list-group" id="ProductLabel">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="QuantityLabel" ChangeLanguage>Quantity</label>
                            <ul class="list-group" id="QuantityLabel">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="TotalPriceLabel" ChangeLanguage>Total Price</label>
                            <ul class="list-group" id="TotalPriceLabel">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="TransactionIdLabel" ChangeLanguage>Transaction ID</label>
                            <ul class="list-group" id="TransactionIdLabel">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="RemoveButtonLabel" ChangeLanguage>Remove</label>
                            <ul class="list-group" id="RemoveButtonLabel">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <!-- <div class="col-xs">
                            <label for="ConfirmedLabel">Confirmed</label>
                            <ul class="list-group" id="ConfirmedLabel">
                                <li class="list-group-item"></li>
                            </ul>
                        </div> -->
                    </div>
                    <br>
                    <span>Total Price in Basket: <span id="totalPrice"></span></span>
                    <br>
                    <button style="float: right; margin-bottom:30px;" type="button" onclick="ConfirmBasket(this.id)"
                        name="" id="ConfirmBasketButton" class="btn btn-primary" ChangeLanguage>Check Out</button>
                    <hr style="margin-top: 10px;">
                    <hr>
                    <div class="row" style="padding: 10px;">
                        <div class="col-xs">
                            <label for="ProductLabel2" ChangeLanguage>Product</label>
                            <ul class="list-group" id="ProductLabel2">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="QuantityLabel2" ChangeLanguage>Quantity</label>
                            <ul class="list-group" id="QuantityLabel2">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="TotalPriceLabel2" ChangeLanguage>Total Price</label>
                            <ul class="list-group" id="TotalPriceLabel2">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="TransactionIdLabel2" ChangeLanguage>Transaction ID</label>
                            <ul class="list-group" id="TransactionIdLabel2">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="BasketIDLabel2" ChangeLanguage>Basket ID</label>
                            <ul class="list-group" id="BasketIDLabel2">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="col-xs">
                            <label for="PendingLabel2" ChangeLanguage>Status</label>
                            <ul class="list-group" id="PendingLabel2">
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <!-- <div class="col-xs">
                            <label for="ConfirmedLabel">Confirmed</label>
                            <ul class="list-group" id="ConfirmedLabel">
                                <li class="list-group-item"></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal1 Cart -->
    <!--ModalSetting -->
    <div class="modal fade bd-example-modal-xl" id="SettingsModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class=" modal-dialog modal-xl modal-dialog-centered">
            <div class="Neumorphic-Background modal-content"
                style="overflow: hidden; background-color:  #ffffff; border: none; border-radius: 13px;">
                <div class="modal-header" style="border-radius: 11px;
                background: linear-gradient(145deg, #ffffff, #e6e6e6);
                box-shadow:  5px 5px 10px #d9d9d9,
                             -5px -5px 10px #ffffff;
                             padding: 20px;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Account Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="border-radius: 11px;
                        background: linear-gradient(145deg, #ffffff, #e6e6e6);padding-left: 30px;
                        box-shadow:  5px 5px 10px #d9d9d9,
                                     -5px -5px 10px #ffffff;">
                        <p class="SettingsText p-1" style="display:block" id="SettingsText">
                        </p>
                        <style>
                            #NewPassword {
                                border-radius: 5px;
                                background: #f0f0f0;
                                box-shadow: inset 5px 5px 10px #cccccc,
                                    inset -5px -5px 10px #ffffff;
                                margin-right: 20px;
                            }

                            #NewPassword:focus {
                                border: outset solid white;
                            }
                        </style>
                    </div>
                </div>
                <div class="modal-footer" style="border-radius: 0 0 11px 11px;
                background: linear-gradient(145deg, #fefefe, #d5d5d5);
                box-shadow:  20px 20px 60px #c9c9c9,
                             -20px -20px 60px #ffffff;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 50px;
                    background: linear-gradient(145deg, #f5f5f5, #cecece);
                    box-shadow:  12px 12px 24px #bcbcbc,
                                 -12px -12px 24px #ffffff;color: white;">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal1 setting -->
    <!-- Modal2 Product -->
    <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <!--Carousel Wrapper-->
                            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
                                data-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" id="picture1" style="object-fit: cover;" src="/logo"
                                            onerror="this.src='/views/Error404'">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" id="picture2" style="object-fit: cover;"
                                            src="https://i.pinimg.com/236x/ae/88/44/ae8844cb9de47f9b4f375582c1fe63f4.jpg"
                                            onerror="this.src='/views/Error404'">
                                    </div>
                                    <!-- <div class="carousel-item">
                                        <img class="d-block w-100" style="object-fit: cover;"
                                            src="https://cdn.theculturetrip.com/images/56-238539-ftf-design-studio.jpg"
                                            onerror="this.src='/views/Error404'">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" style="object-fit: cover;"
                                            src="https://i.pinimg.com/236x/52/11/c7/5211c753f13a82737e16b690b985b823.jpg"
                                            onerror="this.src='/views/Error404'">
                                    </div> -->
                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!--/.Controls-->
                                <ol class="carousel-indicators">

                                    <li data-target="#carousel-thumb" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-thumb" data-slide-to="1"></li>
                                    <!-- <li data-target="#carousel-thumb" data-slide-to="2"></li>
                                    <li data-target="#carousel-thumb" data-slide-to="3"></li> -->

                                </ol>
                            </div>
                            <!--/.Carousel Wrapper-->
                        </div>
                        <div class="col-lg-7">
                            <h2 class="h2-responsive product-name">
                                <strong id="ProductName">Product Name</strong>
                            </h2>
                            <h4 class="h4-responsive">
                                <span class="green-text">
                                    <strong id="ProductPrice">$49</strong>
                                </span>
                                <span class="grey-text">
                                    <small>
                                        <!-- <s>$89</s> -->
                                    </small>
                                </span>
                                <span class="h4">
                                    <i id="ProductGender" style="margin-left: 20px;">
                                        Gender
                                    </i>
                                </span>
                            </h4>

                            <!--Accordion wrapper-->
                            <div class="accordion md-accordion" id="accordionEx" role="tablist"
                                aria-multiselectable="true">

                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingOne1">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1"
                                            aria-expanded="true" aria-controls="collapseOne1">
                                            <h5 class="mb-0" style="color:rgb(101, 101, 255)">
                                                <p style="display: inline;" ChangeLanguage>Quantity in Stock</p>
                                                <p style="display: inline;" id="Quant">test</p>
                                                <i class="fas fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapseOne1" class="collapse show" role="tabpanel"
                                        aria-labelledby="headingOne1" data-parent="#accordionEx">
                                        <div id="Description1" class="card-body" ChangeLanguage>
                                            You aren't supposed to see this message. Fetching stock probably has an
                                            error. This is a bug :D. Please inform Ken if you see this :D. Or maybe it's
                                            the server timeout. I guess you've been leaving this website hanging for
                                            quite a while right? The server probably went to sleep now. Refresh to wake
                                            it up! XD
                                        </div>
                                    </div>

                                </div>
                                <!-- Accordion card -->

                                <!-- Accordion card -->
                                <div class="card">

                                    <div class="card-header" role="tab" id="headingTwo2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                            href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                            <h5 class="mb-0" style="color:rgb(101, 101, 255)">
                                                <p style="display: inline;" ChangeLanguage>Content</p>
                                                <i class="fas fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <div id="collapseTwo2" class="collapse" role="tabpanel"
                                        aria-labelledby="headingTwo2" data-parent="#accordionEx">
                                        <div id="Description2" class="card-body">
                                            Some description
                                        </div>
                                    </div>
                                </div>
                                <div class="card">

                                    <div class="card-header" role="tab" id="headingThree3">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                            href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                            <h5 class="mb-0" style="color:rgb(101, 101, 255)">
                                                <p style="display: inline;" ChangeLanguage>Other Notice</p>
                                                <i class="fas fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>

                                    <div id="collapseThree3" class="collapse" role="tabpanel"
                                        aria-labelledby="headingThree3" data-parent="#accordionEx">
                                        <div id="Description3" class="card-body">
                                            Some description
                                        </div>
                                    </div>


                                </div>

                            </div>


                            <!-- Add to Cart -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4" style="padding:5px">

                                        <select id="ProductSelectGender" onchange="update()"
                                            class="md-form mdb-select colorful-select dropdown-primary form-control">
                                            <option value="" disabled selected ChangeLanguage>Choose your gender
                                            </option>
                                            <!-- <option value="1">Others</option>
                                            <option value="2">Male</option>
                                            <option value="3">Female</option> -->
                                        </select>
                                        <label ChangeLanguage>Select Gender</label>

                                    </div>
                                    <div class="col-md-4" style="padding:5px">

                                        <select id="ProductSelectSize" onchange="update()"
                                            class="md-form mdb-select colorful-select dropdown-primary form-control">
                                            <option value="" disabled selected ChangeLanguage>Choose your size</option>
                                            <!-- <option value="1">S</option>
                                            <option value="2">M</option>
                                            <option value="3">L</option>
                                            <option value="3">XL</option>
                                            <option value="3">XXL</option>
                                            <option value="3">XXXXL</option> -->
                                        </select>
                                        <label ChangeLanguage>Select Size</label>

                                    </div>
                                    <div class="col-md-4" style="padding:5px">
                                        <input id="Quantity" style="width: 99%; font-size:medium; height: 35px"
                                            type="number" placeholder="Quantity" name="Quantity" min="1" max="9999"
                                            onchange="
                                        (document.getElementById('Quantity').value.toString().includes('.')||document.getElementById('Quantity').value<=0)&&(document.getElementById('Quantity').value='');">
                                        <label ChangeLanguage>Select Quantity</label>

                                    </div>
                                </div>
                                <div class="text-center">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        ChangeLanguage>Close</button>
                                    <button class="btn btn-primary" onclick="order()" ChangeLanguage>Order
                                        <!-- <i class="fas fa-cart-plus ml-2" aria-hidden="true"></i> -->
                                    </button>
                                    <p style="color: red;" id="OrderError"></p>
                                    <i id="cartAnimation2" style="display: none; " class="fa fa-cart-arrow-down fa-lg"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                            <!-- /.Add to Cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal2 Product -->

    <!-- loading screen -->
    <div class="loadingB" id="loading" style="text-shadow: 2px 2px 0 #35ddf7; color: white;text-decoration: none;">
        <div>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <i class="loadingBrocket fa fa-shopping-cart" aria-hidden="true">
                <div></div>
            </i>
        </div>
        <p style="transform: translateY(44vh);" ChangeLanguage>If this takes too long, please refresh the page.</p>
    </div>
</body>

</html>

<script src="/client.js"></script>