<html lang="en" style="margin: 0; height: 100%; overflow: hidden; background-color: white;">

<script>
    const userData = {
        body : "lo9l"
    }
    const test = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(userData)
        };
    fetch('/connection/test', test)
</script>

<body>
    
</body>
</html>