<!DOCTYPE html>
<html lang="en" style="height: 100%; background-color: #333333; scroll-behavior:smooth;">

<head>
  <link rel="icon" href="/logo">
  <link rel="Bookmark" href="/logo">
  <title>P P S H O P · Contact Us</title>
  <!-- Page URL -->
  <h1 style="font-size: 0px; margin: 0px;">Contact</h1>
  <!-- Facebook -->
  <link rel=“canonical” href=“https://pangcu.herokuapp.com/Contact” />
  <meta property="og:site_name" content="P P S S H O P · Contact Us" />
  <meta property="og:title" property="og:title" content="Contact Us" />
  <meta property="og:description"
    content="You can find us here in this page. And other contents such as my special thanks to people who supports me!" />
  <meta property="og:image" content="/YuuThumbnail.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/Contact">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- google SEO -->
  <meta charset="UTF-8">
  <meta name="description" content="Find us! Take your orders! You can get our contact information here in this page!">
  <meta name="keywords" content="PPSSHOP, Shop, Panyaprateep">
  <meta name="author" content="Ken">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!-- Page URL -->
  <script src="/views/style/css.js"></script>
  <style>
    a,
    a:focus,
    a:hover {
      color: #fff;
    }

    /* Custom default button */
    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
      color: #333333;
      text-shadow: none;
      /* Prevent inheritance from `body` */
      background-color: #fff;
      border: .05rem solid #fff;
    }


    /*
   * Base structure
   */

    /* html,
    body {
      height: 100%;
      background-color: #333333;
    }  */

    /* body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      color: #fff;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    } */

    .cover-container {
      max-width: 42em;
    }


    /*
   * Header
   */
    .masthead {
      margin-bottom: 2rem;
    }

    .masthead-brand {
      margin-bottom: 0;
    }

    .nav-masthead .nav-link {
      padding: .25rem 0;
      font-weight: 700;
      color: rgba(255, 255, 255, .5);
      background-color: transparent;
      border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link+.nav-link {
      margin-left: 1rem;
    }

    .nav-masthead .active {
      color: #fff;
      border-bottom-color: #fff;
    }

    @media (min-width: 48em) {
      .masthead-brand {
        float: left;
      }

      .nav-masthead {
        float: right;
      }
    }


    /*
   * Cover
   */
    .cover {
      padding: 0 1.5rem;
    }

    .cover .btn-lg {
      padding: .75rem 1.25rem;
      font-weight: 700;
    }

    /*
   * Footer
   */
    .mastfoot {
      color: rgba(255, 255, 255, .5);
    }
  </style>
  <script>
    Loading = false;
  </script>
</head>

<body style="height: 200%;">
  <div class="container-fluid cover" style="
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    width: 100%; 
    height: 50%; 
    background-color: #333333; 
    ">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">PPSSHOP</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Sign Up</a>
            <a class="nav-link active" href="/Contact">Contact</a>
            <a class="nav-link" href="/problems">Developers' Tip</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading" ChangeLanguage>Contacts</h1>
        <p class="lead" ChangeLanguage>We'd like to let you know more about us. Learn more about <br><strong>P P S S H O
            P</strong> in
          this page.</p>
        <p class="lead">
          <a href="#Contact" class="btn btn-lg btn-secondary" ChangeLanguage>Meet Us</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Developed by <a href="https://www.facebook.com/ken.luangpenthong.7/">Ken</a>, from <a
              href="https://panyaprateep.ac.th">Panyaprateep School</a>.</p>
        </div>
      </footer>
    </div>
  </div>

  <div class="container-fluid"
    style="background-color: #333333 ;width: 100%; display: block; padding: 0px; height: 50%;">
    <a id="Contact"></a>
    <div class="row" style="margin: 0px;padding: 0px; height: 100%;">
      <div
        style="display: flex; align-items: center; flex-direction:column; background-color: #222;left: 0px; margin: 0px; padding: 0px;"
        class="col-md-6">
        <div style="color:white;padding-left: 10px;">
          <h1 class="display-3" ChangeLanguage>Panyaprateep</h1>
          <div style="word-break:break-word;"><span style="display: inline;" class="fas fa-map-marked-alt"></span>
            <p style="display: inline;" ChangeLanguage> 162 Ban Nong Noi, Pak Chong, Pak Chong
              District, Nakhon Ratchasima 30130</p>
          </div>
          <div style="word-break:break-word;"><i class="fas fa-phone"></i> 08-7042-4111</div>
        </div>
        <ul class="social-icons" style="bottom: 50px;">
          <li><a href="https://www.instagram.com/panyaprateep_school/"><i class="fab fa-instagram"></i></a></li>
          <!-- <li><a href="https://twitter.com/invent601"><i class="fab fa-twitter"></i></a></li> -->
          <!-- <li><a href="https://www.linkedin.com/in/ken-l-2957aa204/"><i class="fab fa-linkedin"></i></a></li> -->
          <!-- <li><a href="https://codepen.io/krisken4699"><i class="fab fa-codepen"></i></a></li> -->
          <li><a href="https://www.youtube.com/channel/UCsWZaD5V7RmoCxSx77FBV9A"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://www.facebook.com/PanyaprateepSchoolPage/"><i class="fab fa-facebook"></i></a></li>
        </ul>
        <div style="color:white;padding-left: 10px;">
          <h1 class="display-3" ChangeLanguage>Contact Developer</h1>
          <!-- <p style="word-break:break-word;"><span style="display: inline;" class="fas fa-map-marked-alt"></span> 162 Ban Nong Noi, Pak Chong, Pak Chong District, Nakhon Ratchasima 30130</p> -->
          <p style="word-break:break-word;"><i class="fas fa-phone"></i> 061-3535-316</p>
          <p style="word-break:break-word;"><i class="far fa-envelope"></i>
            krisken4699@gmail.com</p>
        </div>
        <ul class="social-icons" style="bottom: 50px;">
          <li><a href="https://www.instagram.com/is_it_ken/?hl=en"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/invent601"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ken-l-2957aa204/"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://codepen.io/krisken4699"><i class="fab fa-codepen"></i></a></li>
        </ul>
        <!-- <hr> -->
      </div>
      <div class="col-6" style="margin: 0px; padding: 0px;">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.4120587786065!2d101.37614281484129!3d14.689274489746053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311c2b069db76837%3A0x1ad895ff4a9c95d1!2sPanya%20Prateep%20School!5e0!3m2!1sen!2sth!4v1607676350274!5m2!1sen!2sth"
          width="600" height="450" frameborder="0" style="border:0;height: 100%; margin: 0px;width: 100%;"
          allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="padding-bottom: 10px;height: 100vh;background-color: #333333;">
    <a id="Evaluate"></a>
    <h1 class="display-1" style="height: 30%; margin: 0;color: rgb(187, 187, 187);">Report Errors / Evaluate</h1>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSepbvoPjgZVyo603J-kFeTC0qSosa2ImUGeD-iRPwZaIXfR6g/viewform?embedded=true"
      style="border-radius: 50px;
    background: #333333;
    box-shadow:  20px 20px 60px #2b2b2b,
                 -20px -20px 60px #3b3b3b;" margin="0" width="100%" height="70%" frameborder="0" marginheight="0"
      marginwidth="0">Loading…</iframe>
  </div>
  <div class="container-fluid cover" style="
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    background-image: url(/views/GuestBackground.jpg);
    box-shadow: inset 0 0 5000px rgba(0, 0, 0);
    height: 50%; 
    background-size:conver;
    background-position: center;
    background-color: #222;
    justify-content:space-evenly;
    width: 100%;  ">
    <div class="container" style="width: 100%; margin-top: 10px;">

      <div class="row" style="justify-content: space-evenly;display: flex;">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style=" background-color: transparent; border-radius: 10px;">
            <div class="card" style="padding:0px; background-color: rgba(255, 255, 255, 0.2); border-radius: 10px;">
              <img src="/YuuThumbnail.svg" style="object-fit: fill; border-radius: 10px;" class="card-img-top"
                alt="Failed to load Yuu's Thumbnail. Please try again later.">
              <div class="card-body" style="background-color: grey; margin: 0px; width: 100%; border-radius: 10px;">
                <h5 class="card-title">Thumbnail | By Yuu</h5>
                <p class="card-text">By Yuu M.3. This image was made by Yuu, as the thumbnail of this website.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style=" background-color: transparent; border-radius: 10px;">
            <div class="card" style="padding:0px; background-color: rgba(255, 255, 255, 0.2); border-radius: 10px;">
              <img src="/YuuThumbnail.svg" style="object-fit: fill; border-radius: 10px;" class="card-img-top"
                alt="Failed to load Yuu's Thumbnail. Please try again later.">
              <div class="card-body" style="background-color: grey; margin: 0px; width: 100%; border-radius: 10px;">
                <h5 class="card-title">Thumbnail | By Yuu</h5>
                <p class="card-text">By Yuu M.3. This image was made by Yuu, as the thumbnail of this website.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="justify-content: space-evenly;display: flex;">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style=" background-color: transparent; border-radius: 10px;">
            <div class="card" style="padding:0px; background-color: rgba(255, 255, 255, 0.2); border-radius: 10px;">
              <img src="/YuuThumbnail.svg" style="object-fit: fill; border-radius: 10px;" class="card-img-top"
                alt="Failed to load Yuu's Thumbnail. Please try again later.">
              <div class="card-body" style="background-color: grey; margin: 0px; width: 100%; border-radius: 10px;">
                <h5 class="card-title">Thumbnail | By Yuu</h5>
                <p class="card-text">By Yuu M.3. This image was made by Yuu, as the thumbnail of this website.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style=" background-color: transparent; border-radius: 10px;">
            <div class="card" style="padding:0px; background-color: rgba(255, 255, 255, 0.2); border-radius: 10px;">
              <img src="/YuuThumbnail.svg" style="object-fit: fill; border-radius: 10px;" class="card-img-top"
                alt="Failed to load Yuu's Thumbnail. Please try again later.">
              <div class="card-body" style="background-color: grey; margin: 0px; width: 100%; border-radius: 10px;">
                <h5 class="card-title">Thumbnail | By Yuu</h5>
                <p class="card-text">By Yuu M.3. This image was made by Yuu, as the thumbnail of this website.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .card:hover {
      box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }
  </style>
</body>

</html>