<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/views/style/css.js"></script>
    <script src="/views/FileSaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script>
        Loading = false;
    </script>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

        * {
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <a style="display: block;font-family: 'Raleway', sans-serif;font-size: xx-large;" href="/"><i style="margin: 50px;"
            class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>Back to
        Home</a>
    <a style="margin: 10px; margin-left: 40%; width: 20%;" onclick="downloadAsExcel()" class="btn btn-primary" href="#"
        role="button">Download Again</a>
    <div class="container mt-5">
        <pre id="json" style="display:none;"></pre>
    </div>
    <div id="temp" style="display:none;"></div>
    <script src="/views/DownloadReport.js"></script>
</body>

</html>