<html lang="en" style="margin: 0; height: 100%; overflow: hidden; background-color: black;">

<head style="margin: 0; height: 100%; overflow: hidden;">
    <meta name="google-site-verification" content="BoU32M0lcAVpQIlk-W18BFOUW3pG84wM8sRCYOfMRqM" />
    <script>
        if (!window.location.href.includes('https://pangcu.herokuapp.com') && !window.location.href.includes('192.168') && !window.location.href.includes('https://pangcu.herokuapp.com/') && !window.location.href.includes('https://pangcu.herokuapp.com/home'))
            window.location.href = 'https://pangcu.herokuapp.com';
            //console.log(window.location.href)
    </script>
    <link rel="Bookmark" href="/logo">
    <title>P P S H O P</title>
    <link rel="icon" href="/logo">
    <!-- Page URL -->
    <h1 style="font-size: 0px; margin: 0px;">Home</h1>
    <!-- Facebook -->
    <link rel=“canonical” href=“https://pangcu.herokuapp.com/ />
    <meta property="og:site_name" content="P P S S H O P" />
    <meta property="og:title" property="og:title" content="P P S S H O P" />
    <meta property="og:description" content="Buy things inside PPS. There's no time to waste! Order now!" />
    <meta property="og:image" content="/logo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google SEO -->
    <meta charset="UTF-8">
    <meta name="description" content="Buy things inside PPS. There's no time to waste! Order now!">
    <meta name="keywords" content="PPSSHOP, Shop, pangcu">
    <meta name="author" content="Ken">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page URL -->

    <script src="/views/style/css.js"></script>

</head>

<body style="width: 100%;">
    <div class="container-fluid" style="margin:0px; padding: 0px;">
        <div class="row" style="width: 100vw; height: 100vh; margin: 0px;">
            <div class="col-sm-8" style=" float: left; justify-content: center;justify-items: center;">
                <h class="display-2"
                    style="position: absolute;width: 100%; z-index: 10; text-shadow: 5px 5px 0px grey ;margin-top: 5%;text-align: center; float: left; color: #DBA159; font-family: 'Sriracha', cursive; text-align: center;font-size: 7vmax;">
                    พุทธปัญญานำสมัย</h>
                <!-- <strong class="display-2"
                    style="z-index: 10; position: absolute; top: 30%; right: 10px; text-shadow: 5px 5px 0px grey ;margin-right: 10%;float: right; color:cornflowerblue; font-family: 'Sriracha', cursive;font-family: 'Kanit', sans-serif;font-size: 7vmax;">
                    Beta</strong> -->
                <img src="/YuuThumbnailEdited.svg" alt="Thumbnail"
                    style=" object-fit: contain;z-index: 0; left: 50%; transform: translate(-50%);bottom: 0%;position: absolute;  width: 70vw;max-height: 70vh;">
                <!-- <div class="container-fluid"
                    style="bottom: 0;box-shadow: 0 0 20px 20px white inset; height: 70% ;background-repeat:no-repeat; background-size:cover;background-color: black; background-image: url(/views/GuestBackground.jpg);">
                </div> -->
            </div>
            <div id="Menu" style="color: #696D7D;" class=" col-sm-4" style="  margin: 0; float: right; ">
                <ul>
                    <li data-text="Register"><a href="https://pangcu.herokuapp.com/register">Register</a></li>
                    <li data-text="Login"><a href="https://pangcu.herokuapp.com/login">Login</a></li>
                    <li data-text="Contact"><a href="https://pangcu.herokuapp.com/Contact">Contact</a></li>
                    <li data-text="Developers' Tip"><a
                            href="https://pangcu.herokuapp.com/problems">Developers' Tip</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</body>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        Loading = false;
    });
</script>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    #Menu {
        display: flex;
        justify-content: center;
        /* padding-left: 5%; */
        align-items: center;
        max-height: 100vh;
        background: rgba(0, 0, 0, 0.3);
        margin: 0;
        overflow: hidden
    }

    body {
        background-color: white;
        background-position-x: 20%;
        background-position-y: 100%;
        /* background-image: url('/YuuThumbnailEdited.svg'); */
        /* background-image: url('https://img.freepik.com/free-vector/group-people-reading-borrowing-books_53876-43122.jpg?size=626&ext=jpg'); */
        background-repeat: no-repeat;
        background-size: contain;
    }

    #Thumbnail {
        background-color: white;
        background-position-x: 20%;
        background-position-y: 100%;
        background-image: url('/YuuThumbnailEdited.svg');
        /* background-image: url('https://img.freepik.com/free-vector/group-people-reading-borrowing-books_53876-43122.jpg?size=626&ext=jpg'); */
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li:hover:before {
        opacity: 0.1;
        letter-spacing: 0px;
    }

    ul li:before {
        content: attr(data-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.8);
        font-size: 1000%;
        font-weight: 700;
        pointer-events: none;
        opacity: 0;
        letter-spacing: 20px;
        transition: 0.3s;
        white-space: nowrap;
    }

    ul {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    ul li {
        list-style: none;
        height: 25px;
        margin-bottom: 30px;
    }

    ul li a {
        position: relative;
        display: inline-block;
        padding: 6px, 15px;
        text-decoration: none;
        background: #F6C0D0;
        color: #ffffff;
        font-size: x-large;
        text-transform: uppercase;
        letter-spacing: 2px;
        overflow: hidden;
        transition: 0.3s;
        z-index: 1;
        font-family: 'Poppins', sans-serif;

    }

    ul li a:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100px;
        width: 80px;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
        transform: skewX(35deg);
        transition: 0s;
    }

    ul:hover li a {
        opacity: 0;
    }

    ul li a:hover {
        transform: scale(1.4);
        z-index: 1000;
        background: #8EF9F3;
        opacity: 1;
        color: white;
        text-decoration: none;
    }

    ul li a:hover:before {
        left: calc(100% + 100px);
        transition: 0.5s;
        transition-delay: 0.2s;
    }
</style>

</html>