<!DOCTYPE html>
<html>

<head>
    <title>P P S S H O P · ADMIN · Orders</title>
    <meta charset="utf-8">
    <!-- <meta name="viewport"
        content="width=device-width, initial-scale=1,user-scalable=no,"> -->
    <!-- <link rel="icon" href="/logo"> -->
    <!-- <link rel="Bookmark" href="/logo"> -->
    <meta name="google" value="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/admin/pendingOrders.js"></script>
    <!-- <link rel="stylesheet" href="../bootstrap.min.css"> -->
    <link rel="icon" href="/logo">
    <link rel="Bookmark" href="/logo">
    <!-- <link rel="stylesheet" href="../bootstrap.min.css.map"> -->
    <script src="/views/style/css.js"></script>

</head>

<body>
    
<!-- navigator bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">PPSSHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Sign Up</a>
      <a class="nav-item nav-link" href="/Contact">Contact</a>
      <a class="nav-item nav-link" href="/problems">Developers' Tip</a>
      <a class="nav-item nav-link" href="/admin">Admin Settings</a>
      <a class="nav-item nav-link active" href="/admin/orders">Pending Orders</a>
    </div>
  </div>
</nav>
<!-- navigator bar -->
    <style>
        .basket {
            margin-top: 10px;
            padding: 10px;
            word-break: break-word;
        }

        li {
            padding: 5px;
        }

        .verticalLine {
            width: 3px;
            background-color: white;
        }
    </style>
    <div class="container-fluid" style=" left: 50vw; width: 95vw;word-break: break-word; justify-content: center;"
        id="container">
        <!-- <div class="row">
            <div class="col-xs-2">
                <ul id="Product"></ul>
            </div>
            <div class="col-xs-2">
                <ul id="Quantity"></ul>
            </div>
            <div class="col-xs-2">
                <ul id="BasketID"></ul>
            </div>
            <div class="col-xs-2">
                <ul id="Username"></ul>
            </div>
            <div class="col-xs-2">
                <ul id="Accept"></ul>
            </div>
        </div> -->
    </div>
</body>

</html>