<!DOCTYPE html>
<html lang="en" style="background-color: whitesmoke;">

<head>
    <link rel="Bookmark" href="/logo">
    <title>P P S H O P · Developers' Tip</title>
    <link rel="icon" href="/logo">
    <link rel="stylesheet" href="/views/transition.css">
    <meta charset="UTF-8">
    <script src="/views/style/css.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        if (!window.location.href.includes('127') && !window.location.href.includes('https://') && !window.location.href.includes('localhost:3000') && !window.location.href.includes('192.168'))

            window.location.href = "https://" + window.location.href.substring(7, window.location.href.length);
    </script>

    <style>
        strong {
            font-size: xx-large;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        #Menu {
            display: flex;
            justify-content: center;
            /* padding-left: 5%; */
            align-items: center;
            min-height: 100vh;
            /* background: rgba(0, 0, 0, 0.3); */
            margin: 0;
            overflow: hidden
        }

        /* body {
            background-color: white;
            background-position-x: 20%;
            background-position-y: 100%;
            background-image: url('https://img.freepik.com/free-vector/group-people-reading-borrowing-books_53876-43122.jpg?size=626&ext=jpg');
            background-repeat: no-repeat;
            background-size: initial;
        } */

        ul li:hover:before {
            opacity: 0.1;
            letter-spacing: 0px;
        }

        ul li:before {
            content: attr(data-text);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgba(255, 255, 255, 0.8);
            font-size: 1000%;
            font-weight: 700;
            pointer-events: none;
            opacity: 0;
            letter-spacing: 20px;
            transition: 0.3s;
            white-space: nowrap;
        }

        ul {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
        }

        /* ul li {
            list-style: none;
        } */

        ul li {
            position: relative;
            display: inline-block;
            padding: 6px, 15px;
            text-decoration: none;
            /* background: #80c904; */
            color: black;
            text-transform: uppercase;
            letter-spacing: 2px;
            overflow: hidden;
            transition: 0.3s;
            text-align: center;
            z-index: 1;
        }

        ul li:before {
            content: '';
            position: absolute;
            top: 0;
            left: -100px;
            width: 80px;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
            transform: skewX(35deg);
            transition: 0s;
        }

        ul:hover li {
            opacity: 0.6;
        }

        ul li:hover {
            transform: scale(1.1);
            z-index: 1000;
            /* background: #E4701E; */
            opacity: 1;
            /* color: white; */
            text-decoration: none;
        }

        ul li:hover:before {
            left: calc(100% + 100px);
            transition: 0.5s;
            transition-delay: 0.2s;
        }
    </style>
    <script>
        Loading = false;
    </script>
</head>

<body style="background-color: whitesmoke;">

    <!-- navigator bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">PPSSHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Sign Up</a>
                <a class="nav-item nav-link" href="/Contact">Contact</a>
                <a class="nav-item nav-link active" href="/problems">Developers' Tip</a>
            </div>
        </div>
    </nav>
    <!-- Navigator bar -->
    <h1 class="display-1" style="text-align: center; margin: 100px; margin-bottom: 40px;font-size: 7em;">Developers' Tip
    </h1>
    <div class="container-fluid" id="Menu">
        <ul>
            <li><strong>Database</strong>
            <li><i style="font-size:x-large;">PostGres Database</i>
                <ul>

                    <li>Postgres SQL failure from unclear instructions</li>
                    <li>Google Drive authorize failure from unclear instructions</li>
                    <li>Free SQL server non existance</li>
                    <li>Custom SQL syntax for Postgres doesn't have documentation. from unclear instructions</li>
                    <li>Pool and Client Confusion</li>
                    <li>PGSQL using object with SQL system; New syntax</li>
                    <li>Client Connection and Debuging Issues</li>
                    <li>Local and Global database overriding</li>
                    <li>Backing up files on Postgres</li>
                    <li>Database with same parrent => when updating a child, the other child turns <code>null</code>
                </ul>
            </li>
            <li><i style="font-size:x-large;">Nedb JS</i>
                <ul>
                    <li>Local Server and Heroku server using same database overwriting each others. => {</li>
                    <li>Loss of cloud server data. Bugs on local development</li>
                    <li>}</li>
                    <li>Remove database features in exchange for better performance and stabality</li>
                    <li>SQL updates database in stead of inserting new row</li>
                    <li>db.persistence.compactDatafile() function is called while updating the database, causing
                        information loss, changes, and unknown data to appear.</li>
                </ul>
            </li>
            </li>
            <li><strong>Basic Security</strong>
                <ul>
                    <li>Hacking into other's acount using url</li>
                    <li>Slow CPU</li>
                    <li>DDOS Test</li>
                    <li>No tester</li>
                    <li>My mistake wasting time on encryption before all the other work. It's not a good use of time.
                    </li>
                    <li>Ddos Attacks</li>
                </ul>
            </li>
            <li><strong>Client</strong>
                <ul>
                    <li>Showing products of the opposite gender on user's gender</li>
                    <li>All connected clients have the same ip address for some reasons</li>
                    <li>People wants promotions</li>
                    <li>No tester</li>
                    <li>Bootstrap failure.</li>
                    <li>Login is too case-sensitive</li>
                    <li>Token change. Cuasing no refreshes</li>
                    <li>Cannot copy console to clipboard</li>
                    <li>Confirmed Products becomes unconfirmed mysteriously</li>
                    <li></li>
                </ul>
            </li>
            <li><strong>System Analysis</strong>
                <ul>
                    <li>Change of PPS website. Image loss from using PPS website as reference. So I saved it on the
                        local files.
                    </li>
                    <li>Json field custom names. Cannot retrieve using "." </li>
                    <li>Changing login system</li>
                    <li>Stock System Changes</li>
                    <li>No basket system</li>
                    <li>Time Management</li>
                    <li>Prioritizing wrong topics</li>
                </ul>
            </li>
            <li><strong>Unknown Javascript Syntax & Programming Basics</strong>
                <ul>
                    <li>Json get field name by string</li>
                    <li>Creating a promise function</li>
                    <li>Creating one's own library</li>
                    <li>Used more APIs and SDKs from places</li>
                    <li>Difference between Promise and Callback</li>
                    <li>Bootstrap bundles and versions.</li>
                    <li>Javascript lib</li>
                    <li>jQuery lib</li>
                    <li>Ajax lib (I don't know the Ajax syntax)</li>
                    <li>Internal bug fixes. Keep fixing, and fixing, and fixing.</li>
                    <li>Automate things. Create a function that can be used in many cases. Many parameters and
                        conditions</li>
                    <li>Async vs Sync Functions Promise Await Callback Return</li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>