<!DOCTYPE html>
<html lang="en" style="background-color: whitesmoke;">

<head>
    <meta charset="UTF-8">
    <script src="/views/style/css.js"></script>

    <link rel="icon" href="/logo">
    <title>P P S H O P · Registeration Success</title>
    <script>
        Loading = false;
    </script>
</head>

<body style="background-color: whitesmoke;">

    <h1 class="display-1" style="text-align: center; margin: 100px;">Success</h1>
    <p class="h5" style="text-align: center;">Your account has been created as <%= name %>. Please contact the
            administrator for any technical help.</p>
    <p class="h5" style="text-align: center;">Back to the
        <span onclick="window.location.href='/login';" style="cursor: pointer;"> <strong
                style="color: blue;">login</strong> </span>
        page.
    </p>
</body>

</html>