<html lang="en" style="background-color: whitesmoke;" style="max-width: 100%; overflow-x: hidden;">

<head>
  <link rel="icon" href="/logo">
  <script src="/views/style/css.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="Register.js"></script>
  <title>P P S H O P · Register</title>
</head>

<body style="background-color: whitesmoke;">
  <!-- navigator bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PPSSHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link active" href="/register">Sign Up</a>
        <a class="nav-item nav-link" href="/Contact">Contact</a>
        <a class="nav-item nav-link" href="/problems">Developers' Tip</a>
      </div>
    </div>
  </nav>
  <!-- navigator bar -->
  <h1 class="display-1" style="text-align: center;">Sign In</h>
    <div style="height: 5%;"></div>
    <div class="container-fluid" style=" padding: 0px">
      <div class="row" style="justify-content: center;">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <!--2/3 of page-->
          <style>
            .err {
              font-size: large;
              color: #333;
              font-weight: 500;
              margin: 5px;
            }
          </style>
          <div style="margin: 10px ;padding: 10px; background-color: #E4701E; border-radius: 10px; ">
            <h2 class="h2">Sign Up</h2>
            <form style="margin: 0;">
              <p5 class="h4" style="text-align: left; color: #f5f5f5;" ChangeLanguage>Username</p5>
              <input id="Username" class="form-control" style="width: 100%; ; font-size: medium;" type="text" onchange="loop();
                  if(this.value.length < 3 ||this.value.length > 80 )
                   document.getElementById('UserError').innerHTML = `Username too short or too long!`;
                   else
                   document.getElementById('UserError').innerHTML = ``;
                   removeSpace(this);
                   " placeholder="username" name="username">
              <p class="err" id="UserError"></p>
              <p5 class="h4" style="text-align: left; color: #f5f5f5;" ChangeLanguage>Password</p5>
              <input id="Password" class="form-control" style=" width: 100%; font-size:medium; " onchange="loop();
                  if(document.getElementById('Password').value.length < 8 || document.getElementById('Password').value.length > 80 )
                   document.getElementById('PasswordError').innerHTML = `Password too short or too long!`;
                   else
                   document.getElementById('PasswordError').innerHTML = ``;
                   if(this.value != document.getElementById('ConfirmPassword').value)
                document.getElementById('ConfirmError').innerHTML = `Password doesn't match!`;
                else
                document.getElementById('ConfirmError').innerHTML = ``;
                " type="password" placeholder="password (at least 8 characters)" name="Password">
              <span onmouseup="document.getElementById('Password').type = 'password'"
                onmousedown="document.getElementById('Password').type = 'text'"
                class="fa fa-fw fa-eye field-icon toggle-password" style="cursor: pointer;"></span>
              <p class="err" id="PasswordError"></p>
              <p5 class="h4" style="text-align: left; color: #f5f5f5;" ChangeLanguage>Confirm Password</p5>
              <input id="ConfirmPassword" class="form-control" style=" width: 100%; font-size:medium; " type="password"
                placeholder="confirm password" onchange="loop();
                if(this.value != document.getElementById('Password').value)
                document.getElementById('ConfirmError').innerHTML = `Password doesn't match!`;
                else
                document.getElementById('ConfirmError').innerHTML = ``;
                ">
              <p class="err" id="ConfirmError"></p>
              <p5 class="h4" style="text-align: left; color: #f5f5f5;" ChangeLanguage>Email</p5>
              <input id="email" class="form-control" onchange="loop();if
                (!ValidateEmail(this.value))
                document.getElementById('EmailError').innerHTML = 'Invalid Email!';
                else
                document.getElementById('EmailError').innerHTML = '';" style="width: 100%; font-size:medium; "
                type="email" placeholder="email" name="email">
              <p class="err" id="EmailError"></p>
              <!-- <div class="row"> -->
              <div class="row">
                <label for="IDNumber" class="col h4" style="text-align: center; color: #f5f5f5;" ChangeLanguage>Student
                  ID</label>
                <label for="Gender" class="h4 col" style="text-align: center; color: #f5f5f5;"
                  ChangeLanguage>Gender</label>
              </div>
              <!-- <div class="col" style="padding-right: 0px;"> -->
              <div style="width: 100%;margin-bottom: 10px;">
                <input
                  onchange="loop();if(this.value < 92 || this.value > 9999)document.getElementById('IDError').innerHTML = 'Invalid ID!';else document.getElementById('IDError').innerHTML = '';"
                  id="IDNumber" class="form-control"
                  style="width: 49%; float: left; text-align: center; font-size:medium; " type="number"
                  placeholder="0xxx" name="IDNumber" min="92" max="9999">
                <select class="form-control" id="Gender" onchange="loop()"
                  style="display: flex; justify-content: center; text-align: center; float: right; width: 49%;">
                  <option style="text-align: center;" value="-">-</option>
                  <option style="text-align: center;" value="Male" ChangeLanguage>Male</option>
                  <option value="Female" style="text-align: center;" ChangeLanguage>Female</option>
                  <option value="Others" style="text-align: center;" ChangeLanguage>Others</option>
                </select>
              </div>
              <div style="width: 100%;margin-bottom: 10px;">
                <p style="float: left;width: 50%; text-align: center;" class="err" id="IDError"></p>
              </div>
              <!-- </div> -->
              <!-- </div> -->
              <!-- <input type="submit" style="; width: 100%;"> -->
              <button id="submit" type="button" onclick="SendHashed()" class="btn btn-success"
                style="width: 100%; ;border-radius: 35px;">Sign Up</button>
              <script>
                document.getElementById('Username')
                  .addEventListener("keyup", function (event) {
                    event.preventDefault();
                    if (event.keyCode === 13) {
                      document.getElementById("submit").click();
                    }
                  });

                document.getElementById('Password')
                  .addEventListener("keyup", function (event) {
                    event.preventDefault();
                    if (event.keyCode === 13) {
                      document.getElementById("submit").click();
                    }
                  });

                document.getElementById('email')
                  .addEventListener("keyup", function (event) {
                    event.preventDefault();
                    if (event.keyCode === 13) {
                      document.getElementById("submit").click();
                    }
                  });
                document.getElementById('IDNumber')
                  .addEventListener("keyup", function (event) {
                    event.preventDefault();
                    if (event.keyCode === 13) {
                      document.getElementById("submit").click();
                    }
                  });
                function loop() {
                  if (document.getElementById('IDNumber').value.toString().length > 4) {
                    document.getElementById('IDNumber').value = null;
                    document.getElementById('IDNumber').placeholder = "ID cannot be longer than 4 digits!";
                  }
                  UsernameAvailable = ValidateUsername();
                  passwordAvailable = ValidatePassword();
                  IDAvailable = ValidateID();
                  emailAvailable = ValidateEmail(document.getElementById('email').value.toString());
                  if (!(ValidateGender() && UsernameAvailable && passwordAvailable && emailAvailable && IDAvailable)) {
                    document.getElementById("submit").disabled = !0;
                    // console.log(UsernameAvailable + passwordAvailable + emailAvailable);
                  }
                  else {
                    document.getElementById("submit").disabled = !1;
                    // console.log(UsernameAvailable + passwordAvailable + emailAvailable);
                  }

                  // setInterval(function () {
                  //   loop();
                  // }, 300);
                }
                loop();
              </script>
            </form>
          </div>

          <p id="message" style="color: red; font-size:large;"></p>
        </div>
        <div class="col-sm-4" style="padding: 0px">

        </div>
      </div>
    </div>
    <p class="h5" style="padding-top: 40px;">Already have an account? Back to the
      <span onclick="window.location.href='/login';" style="cursor: pointer;"> <strong>login</strong> </span>
      page
    </p>
</body>

</html>