html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-arrow-color: white;
}

body::-webkit-scrollbar-button {
  background-color: lightgray;
  border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
  border: transparents;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.4);
  /* color of the scroll thumb */
  border-radius: 4px;
  /* roundness of the scroll thumb */
  border: 3px solid rgba(200, 200, 200, 0.4);
  /* creates padding around scroll thumb */
}

Parallax {
  position: absolute;
}

.link {
  font-family: Chonburi;
}

.Poppins {
  font-family: Poppins;
}

.Taviraj {
  font-family: 'Taviraj', serif;
}

@media only screen and (max-width: 640px) {

  p,
  ul,
  ol,
  li .a {
    font-family: "Gilroy";
    font-size: 0.8em;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: left;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-collapse {
    display: none;
  }

  #options-menu {
    display: inline-flex;
  }
}

@media screen and (min-width: 1024px) {
  #dropdown-menu {
    display: none;
  }

  p,
  ul,
  ol,
  li .a {
    font-family: "Gilroy";
    font-size: 1.1em;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.4px;
    text-align: left;
  }
}

button {
  font-family: "Gilroy-ExtraBold" !important;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.4px;
  text-align: left;
}

button:focus {
  outline: none;
}


@layer utilities {
  @responsive {
    .box-small {
      width: 50vmin;
      height: 35vmin;
    }

    .w-30rem {
      width: 30rem;
    }

    .mt-1\/10 {
      margin-top: 10vh;
    }

    .mt-2\/10 {
      margin-top: 20vh;
    }

    .mt-3\/10 {
      margin-top: 30vh;
    }

    .mt-4\/10 {
      margin-top: 40vh;
    }

    .mt-5\/10 {
      margin-top: 50vh;
    }

    .mt-6\/10 {
      margin-top: 60vh;
    }

    .mt-7\/10 {
      margin-top: 70vh;
    }

    .mt-8\/10 {
      margin-top: 80vh;
    }

    .mt-9\/10 {
      margin-top: 90vh;
    }

    .mt-10\/10 {
      margin-top: 100vh;
    }

    .lg-h2 {
      font-family: 'Gilroy-ExtraBold';
      font-size: 40px;
      font-style: bold;
      font-weight: 800;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
    }

    .xsm-h2 {
      font-family: 'Gilroy-ExtraBold';
      font-size: 24px;
      font-style: bold;
      font-weight: 800;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
    }

    .sm-h2 {
      font-family: 'Gilroy-ExtraBold';
      font-size: 30px;
      font-style: bold;
      font-weight: 800;
      line-height: 33px;
      letter-spacing: 0em;
      text-align: center;
    }

    .xxl-h2 {
      font-family: 'Gilroy-ExtraBold';
      font-size: 38px;
      font-style: bold;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: 0em;
      text-align: left;
    }

    .xl-h2 {
      font-family: 'Gilroy-ExtraBold';
      font-size: 40px;
      font-style: bold;
      font-weight: 800;
      line-height: 50px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

* {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  text-decoration: none;
  list-style-type: none;
}

h3 {
  font-family: 'Gilroy-ExtraBold';
  font-size: 30px;
  font-style: bold;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0em;
}

input {
  user-select: text;
  -webkit-user-select: text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}